<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4>{{title}}</h4>
      </div>
      <div class="modal-body">
        <table id="metrics" class="table table-hover table-condensed">
          <thead>
          <tr>
            <th>Metric</th>
            <th>Source</th>
            <th align="middle" class="value">Link</th>
          </tr>
          </thead>
          <tr ng-repeat="metric in metrics | filter:query | orderBy:orderProp"
              ng-class="{ 'list-group-item-danger': metric.info.value==='ERROR', 'list-group-item-warning': metric.info.value==='WARN' ||  metric.info.value==='UNAVAILABLE'}">
            <td class="metric">{{metric.name}}</td>
            <td class="source">{{metric.info.source}}</td>
            <td class="value">
              <a target="_blank" href="{{metric.info.resolutionURL}}" class="btn btn-link causes" ng-if="metric.info.resolutionURL">
                More Info
              </a>
              <span ng-if="!metric.info.resolutionURL">-</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>