<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title ng-controller="ClusterInfoCtrl" class="navbar-brand" ng-bind="title">PNDA</title>

  <!-- Bootstrap -->
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Angular -->
  <script src="/node_modules/angular/angular.js"></script>
  <script src="/node_modules/angular-route/angular-route.js"></script>

  <script src="/node_modules/angular-resource/angular-resource.js"></script>
  <script src="/node_modules/angular-sanitize/angular-sanitize.js"></script>
  <script src="/node_modules/angular-timer/dist/angular-timer.min.js"></script>
  <script src="/node_modules/humanize-duration/humanize-duration.js"></script>
  <script src="/node_modules/moment/min/moment.min.js"></script>
  <script src="/node_modules/angular-strap/dist/angular-strap.js"></script>
  <script src="/node_modules/angular-strap/dist/angular-strap.tpl.min.js"></script>
  <script src="/node_modules/angular-cookies/angular-cookies.js"></script>

  <!-- Other libraries -->
  <script src="/node_modules/d3/d3.min.js"></script>
  <script src="/node_modules/socket.io-client/socket.io.js"></script>
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/node_modules/gsap/src/minified/TweenMax.min.js"></script>
  <script src="/node_modules/clipboard/dist/clipboard.min.js"></script>
  <script src="/node_modules/angular-utils-pagination/dirPagination.js"></script>

  <!-- PNDA -->
  <script src="js/constants.js"></script>
  <script src="js/modules.js"></script>
  <script src="js/controllers/LoginCtrl.js"></script>
  <script src="js/controllers/ApplicationCtrl.js"></script>
  <script src="js/controllers/MetricsListCtrl.js"></script>
  <script src="js/controllers/PackageManagementCtrl.js"></script>
  <script src="js/controllers/DatasetsCtrl.js"></script>
  <script src="js/controllers/ClusterInfoCtrl.js"></script>
  <script src="js/services/MetricService.js"></script>
  <script src="js/services/DeploymentManagerService.js"></script>
  <script src="js/services/DatasetService.js"></script>
  <script src="js/services/socket.js"></script>
  <script src="js/services/ModalService.js"></script>
  <script src="js/services/HelpService.js"></script>
  <script src="js/services/UtilService.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/components.js"></script>
  <script src="js/components/pndaBasicComponent.js"></script>
  <script src="js/components/pndaYarn.js"></script>
  <script src="js/components/pndaHdfs.js"></script>
  <script src="js/components/pndaKafka.js"></script>
  <script src="js/components/pndaDeploymentManager.js"></script>
  <script src="js/components/pndaTreeView.js"></script>

</head>

<body id="consoleFrontendApp">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" bs-navbar>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ng-click="versionInfo()">PNDA</a>
        <div ng-controller="ClusterInfoCtrl" class="navbar-brand" id="clustername" ng-bind="clustername"></div>
      </div>
      <ul class="nav navbar-nav">
        <li data-match-route="/$"><a href="#/">Home</a></li>
        <li data-match-route="/metrics"><a href="#/metrics">Metrics</a></li>
        <li data-match-route="/packages"><a href="#/packages">Packages</a></li>
        <li data-match-route="/applications"><a href="#/applications">Apps</a></li>
        <li data-match-route="/datasets"><a href="#/datasets">Datasets</a></li>
        <li data-match-route="/pnda.io">
          <a href="http://pnda.io/pnda-guide/" target="_blank">
            Guide
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navWelcomeText">
        </a>
        <ul class="dropdown-menu">
          <li data-match-route="/logout"><a href="#/logout">Logout</a></li>
        </ul>
      </li>
      <li><a ng-click="pageHelp()" style="cursor:pointer;">Help</a></li>
    </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div ng-view></div>
  </div>

  <script src="js/app.js"></script>

  <!-- PNDA -->
  <link rel="stylesheet" type="text/css" href="css/generated/PNDA.css">

</body>
</html>
