<div class="health {{class}}" ng-class="healthClass">
  <div class="componentName" ng-bind-html="metricName"></div>
  <span class="custom-timer">Last update: {{ timeDiff | millSecondsToTimeString}}  </span>
  <div class="info">
    <span ng-click="showDetails()" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" data-ng-show="!isUnavailable"></span>
    <span ng-click="showHelp()" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    <span ng-click="clickCog()" class="glyphicon glyphicon-cog" aria-hidden="true" data-ng-show="showCog()"></span>
  </div>
</div>
