<div class="{{class}}">
  <!-- title and health status -->
  <div class="health {{healthClass}}">
    {{metricName}}
    <span class="custom-timer">Last update: {{ timeDiff | millSecondsToTimeString}}  </span>
    <div class="info">
      <span ng-click="showDetails()" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" data-ng-show="!isUnavailable"></span>
      <span ng-click="showHelp()" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      <span ng-click="clickCog()" class="glyphicon glyphicon-cog" aria-hidden="true" data-ng-show="!isUnavailable"></span>
    </div>
  </div>

  <!-- Yarn specific view -->
  <div class="yarn-info" data-ng-show="!isUnavailable">
    <div class="memory">
      <div class="text">
        Used Memory
        <div class="right">{{memory.allocated | formatNumbers: 'hadoop.YARN.allocated_memory_mb_across_yarn_pools':false}}/{{memory.total | formatNumbers: 'hadoop.YARN.total_available_memory_mb_across_yarn_pools':false}}</div>
      </div>
      <div class="graphics">
        <div class="available"></div>
        <div class="used" style="{{memory.allocatedPercentageStyle}}"></div>
      </div>
    </div>
    <div class="vcores">
      <div class="text">
        Used vCores
        <div class="right">{{vcores.allocated}}/{{vcores.total}}</div>
      </div>
      <div class="graphics">
        <div class="available"></div>
        <div class="used" style="{{vcores.allocatedPercentageStyle}}"></div>
      </div>
    </div>
  </div>
</div>