<div class="{{class}}">
  <!-- title and health status -->
  <div class="health {{healthClass}}">
    <div class="componentName">Deployment Manager
      <timer ng-attr-start-time="timestamp">Last update: {{millis | simplifyTime: days:hours:minutes:seconds}}</timer>
      <div class="info">
        <span ng-click="showDetails()" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" data-ng-show="!isUnavailable"></span>
        <span ng-click="showHelp()" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        <span ng-click="clickCog()" class="glyphicon glyphicon-cog" aria-hidden="true" data-ng-show="!isUnavailable"></span>
      </div>
    </div>
  </div>

  <div class="content">

    <div ng-show="applications.length === 0">
      No application created
    </div>
    
    <div class="dropdown" ng-show="applications.length > 0" >
    <div class="margin-bottom-only">
      	<input ng-model="searchApp" class="wide100 border-enabled"/>
      	<span class="glyphicon glyphicon glyphicon-search search-icon"></span>
     </div>
     <div class="margin-bottom-only">
	 <label>Show Apps:</label>
	<button type="button" class="btn btn-default btn-sm" ng-model="pagecountApp" data-html="1" bs-options="page.value as page.label for page in pages" bs-select>
          Action <span class="caret"></span>
        </button>
     </div>
    </div>
    <div id="applicationList" class="scroll-bar" ng-show="applications.length > 0">
    <div dir-paginate="app in applications | orderBy:orderProp | filter:searchApp | itemsPerPage: pagecountApp" ng-class="{'started': app.status === 'STARTED'}" class="row application margin-right-10" id="{{app.name | applicationNameId}}" my-post-repeat-directive>
      <div class="col-md-9 app-name">
        {{app.name}}
      </div>
      <div class="col-md-3 status-icon">

        <div class="action-icon" ng-click="startOrStopApplication(app.name, app.status)">
          <svg width="26" height="26" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle r="12" cx="13" cy="13" stroke-dashoffset="0" class="bar"></circle>
          </svg>

          <div ng-if="app.status === 'CREATED'">
            <span class="play glyphicon glyphicon-play"></span>
          </div>

          <div ng-if="app.status === 'STARTING'">
            <span class="play glyphicon glyphicon-play"></span>
          </div>

          <div ng-if="app.status === 'STARTED'">
            <span class="pause glyphicon glyphicon-pause"></span>
          </div>

          <div ng-if="app.status === 'STOPPING'">
            <span class="pause glyphicon glyphicon-pause"></span>
          </div>
        </div>
      </div>
    </div>
    </div>
      <dir-pagination-controls
         max-size="3"
        direction-links="true"
        boundary-links="true" >
	</dir-pagination-controls>
    </div>

  </div>
