.ct-chart {
  display: block;
  margin-top: 0px;
  margin-left: -15px;
}

.ct-series-a .ct-line {
  stroke-width: 2px;
}

.green-chart .ct-series-a .ct-line {
  stroke: limegreen;
}

.orange-chart .ct-series-a .ct-line {
  stroke: orange;
}

.ct-series-a .ct-point {
  stroke-width: 0px;
}

.green-chart .ct-series-a .ct-point {
  stroke: limegreen;
}

.orange-chart .ct-series-a .ct-point {
  stroke: orange;
}

span.ct-label {
  font-size: 10pt;
  /* padding-right: 20px; */
}